header{
    background-color: black;
    color: white;
    border-bottom: 4px solid gold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    text-align: center;
}