/*Inicio Form*/

input, textarea{
    width: 100%;
    padding: 5px;
}

small{
    color: tomato;
}

button{
    background-color: black;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

/*Final Form*/
