<div class="flex">
    <section>
        <!-- inicio formulario-->
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo">
        </div>
         <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen">
        </div>
         <div>
            <label for="texto">Texto noticia</label>
            <textarea name="" id="texto"></textarea>
        </div>
         <div>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha">
        </div>
        <button>Guardar noticia</button>



        <!-- final formulario-->

    </section>
    <section>
        <!-- inicio lista noticias-->
         <div class="noticias">
            <article>
                <figure>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnDrBPgDyqt1BxXJ0vWqC0ZPPoSPt67B_I6YXIXv8c-r00HT7kTITeTsyRtAr4z0hhOg3s5FCsAb38GcyKQosHVCi-VHwr0DbShdGt1PIr&s=10" alt="perrito">
                </figure>
                <h3>Titulo de la noticia</h3>
                <p>TExto de la noticia</p>
                <div>
                    <p>Autor</p>
                    <p>fecha: </p>
                </div>
            </article>
            
         </div>

        <!-- final lista noticias-->

    </section>
</div>
