<div class="flex">
    <section>
        <!-- inicio formulario-->
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo">
        </div>
         <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen">
        </div>
         <div>
            <label for="texto">Texto noticia</label>
            <textarea name="" id="texto"></textarea>
        </div>
         <div>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha">
        </div>
        <button>Guardar noticia</button>



        <!-- final formulario-->

    </section>
    <section>
        <!-- inicio lista noticias-->
         <div class="noticias">
            @for (noticia of misNoticias(); track noticia){
            <article>
                <figure>
                    <img [src]="noticia.imagen" [alt]="noticia.titulo">
                </figure>
                <h3>{{noticia.titulo}}</h3>
                <p [innerHTML]="noticia.texto"></p>
                <div>
                    
                    <small>fecha: {{noticia.fecha | date: "d/M/Y"}} </small>
                </div>
            </article>
            }
         </div>

        <!-- final lista noticias-->

    </section>
</div>
